.Playlist-page {
    background-color: black; 
    width: 100%; /* Take full width */   
    display: block;
}
  

  .Playlist-container {     
    background-color: #181818;
    
    display: grid;   
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Adjust the gap between the Genress as needed */
    padding: 20px; /* Optional: add padding to the container */
  }
  
  .Playlist {
      width: 300px;  
      height: 350px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;  
      transition: transform 0.2s;
    }
    
    .Playlist-img {
      width: 100%;
      height: 100%;        
      background-size: cover;
      background-position: center;
      position: relative;
    }
    
    
    .Playlist-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    
    .playlist-text {
      font-size: 1rem;
    }  
  
 