.Playlist-page {
    background-color: #333; 
    width: 100%; /* Take full width */   
    display: block;
}
  

 
.Playlist-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.Playlist-card,
.Playlist {
  width: 400px;
  background-color: rgba(134, 128, 128, 0.938);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.Playlist-card:hover,
.Playlist:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.Playlist-card img,
.Playlist img {
  width: 100%;
  height: 500px; /* Set fixed height */
  object-fit: cover;
}

.Playlist-card .content,
.Playlist .content {
  padding: 20px;
}
 
h1{
  align-items: center;
}
h3 {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  line-height: 1.5;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #ff5722;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #e64a19;
  transform: scale(1.05);
}