
.sidenav {
  height: calc(100vh - 20px);
  width: 200px;
  min-width: 200px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:	#080808;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px; /* Add spacing between items */
}

.sidenav a:hover, .dropdown-btn:hover {
  color: aqua;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.dropdown-container.show {
  display: block;
}

.dropdown-btn .fa {
  margin-left: 10px;
}

